.popup__button-close {
  background: center transparent url(../../../images/CloseIcon.svg);
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 617px) {
  .popup__button-close {
    background: url(../../../images/CloseIcon320.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}